.footer {
    color: var(--color-primary);
    margin-top: 5rem;

    .paragraph:first-child {
        font-size: 2rem;
    }

    &__icon {
        width: 1.6rem;
        height: 1.6rem;
        fill: red;
        animation: pulse 1s infinite;
    }
}
