.item-portfolio {
    box-shadow: var(--shadow-section);
    color: var(--color-white);
    height: 30rem;
    width: 30rem;
    overflow: hidden;
    margin: 1rem;
    font-size: 1.6rem;

    &__img:first-child {
        width: auto;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        //  width: min-content;
    }

    &__img {
        width: 100%;
        height: 100%;
        transform: scale(1.1);
        transition: all 0.35s;
    }

    .figcaption {
        padding: 2rem 3rem;
        transform: translateY(-30rem);
        height: 100%;
        height: 100%;
        transition: all 0.35s;
        opacity: 0;

        &:hover {
            opacity: 0.8;
            z-index: 2;
            background-color: var(--color-primary);

            & .figcaption__paragraph {
                transform: translateX(0);
            }

            & .figcaption__heading::after {
                transform: translateX(0);
            }

            & .section-portfolio.item-portfolio__img {
                transform: scale(1);
            }
        }

        &__heading {
            position: relative;
            transition: all 0.35s;
            font-weight: 600;
            margin-bottom: 1rem;

            &::after {
                content: "";
                position: absolute;
                height: 2px;
                background-color: var(--color-white);
                width: 100%;
                bottom: 0;
                left: 0;
                transform: translateX(-100%);
                transition: all 0.35s;
            }
        }

        &__paragraph {
            transform: translateX(100%);
            transition: all 0.35s;
        }

        &__paragraph:not(:last-child) {
            margin-bottom: 6rem;
        }

        &__link {
            &,
            &:visited,
            &:link {
                position: absolute;
                z-index: 1000;
                opacity: 0;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
            }
        }
    }
}
