@keyframes english {
  0% {
    stroke-dasharray: 0;
  }
  100% {
    stroke-dasharray: 193.52210746113126348929883241002;
  }
}

@keyframes romanian {
  0% {
    stroke-dasharray: 0;
  }
  100% {
    stroke-dasharray: 216.14157456697777480622986476963;
  }
}

@keyframes spanish {
  0% {
    stroke-dasharray: 0;
  }
  100% {
    stroke-dasharray: 148.283173249438240855436767690792;
  }
}

@keyframes ukrainian {
  0% {
    stroke-dasharray: 0;
  }
  100% {
    stroke-dasharray: 163.36281798666924840005745593053;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes animate-bar {
  0% {
    width: 0px;
  }
  100% {
  }
}

// @keyframes shake {
//   0% {
//     transform: translate(-30%, -2rem);
//     box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.5);
//   }
//   50% {
//     transform: translate(-20%, -2rem);
//   }
// }
